<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body >
    <main>
       
        <div id="form">
    <form action="/" method="post">
      <input type="text"  name="userName" placeholder="Enter your name "/> <br/>
      <input type="number" name="age" placeholder="Enter your age "/>
      <input type="submit">
    </form>
    </div>
    <div>

        
        <% if(typeof userName!=="undefined"){ %>
<h2>Name:<%= userName %></h2> 
<h2>Age:<%= Age %></h2> 
<%} else {%>
<h1>PEASE ENTER YOUR Name</h1>
<%}%>

    </div>
    </main>
</body>
</html>